.login-container {
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
}


.login-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius:20px;
    width: 420px;
    /* display: inline-block;
    vertical-align: middle;
    position: relative; */ 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 52px 60px; /* 상하 70px, 좌우 60px */
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
}

.social-btn img {
    height: 24px;
    float: left;
    margin-top: 5px;

}

.social-btn.google {
    margin-top: 7px;
}


.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.kakao img {
    margin-top: 7px;
    height: 24px;
    margin-left: 3px;
}

.signup-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.login-title {
    font-size: 1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.65);
}

.social-login {
    margin-bottom: 30px;
}