/* img {
    overflow: hidden; /* 가로 세로 모두 오버플로우를 숨김 
} */

*{
    padding:0;
    margin:0;
}
.gallery-container {
    padding: 5px 35px;
    text-align:center;
    /* align-items:center;
    justify-content:center; */
}

.gallery {
    display:flex;
    gap: 20px 2%; /* 세로간격 20px */
    flex-wrap: wrap;
    padding: 10px;
}

.gallery-item{
    list-style-type: none;
    margin: 20px;
    width: 20%;
}

.load-more, .load-back{
    text-align:center;
    background-color: aliceblue;
    border: solid 1px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    padding: 4px 10px;
    margin : 40px;
}
